{{>layouts/header}}

<!-- 폼 태그 안에 들어있는 모든 태그가 다 데이터를 어디로(action) 어떻게(method) 보낼지 정하는 폼 태그이다.-->
<form class="container" action="/articles/create" method="post">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/articles">Back</a>
</form>

{{>layouts/footer}}